#sidemenucontainer {
	right:5px; 
	top:0; 
	position: fixed;
}


ul#nav img:hover {  
	border:none;
}

ul#nav {
	margin: 0 0 0 0px; 
	font-size:80%;
}

ul.drop a { 
	color: black;
	font-family: Verdana;  
	text-decoration: none; 
}


ul.drop, ul.drop li, ul.drop ul {
	list-style: none; 
	margin-left: 4px; 
	padding: 0px; 
	background: #ddd; 
	border-radius: 5px;
}

ul.drop li { 
	float: left; 
	line-height: 1.2em; 	
	padding: 2px 2px;

}

ul.drop li.hover, ul.drop li:hover { 
	position: relative; 
	z-index: 599; 
	cursor: default; 
	background: #ccc;

}

ul.drop ul { 
	visibility: hidden; 
	position: absolute; 
	top: 100%; 
	right: 0; 
	z-index: 598; 
	width:140px;
}

ul.drop ul li{ 
	float: none;
}

ul.drop li:hover > ul { 
	visibility: visible;
}

ul.l2{
	left:40px;
}

ul.l2 li{
	background: #eee;
}
