.taskdialog{ display: none; }

#sortabletask {
	list-style-type: none;
	border: 1px solid #fff;
	padding: 0;
}

#sortabletask li {
	margin: 2px 2px 5px 2px;
	padding-left: 1.5em;
	border: 1px solid #000;
}

#sortabletask li span {
	width: 12px;
	background: #94C5EB;
	height:90%;
	position: absolute;
	margin-left: -1.3em;
}

.div-input
   {
	display: table-row;        
	width:auto;         
	background-color:#eee;         
	border:1px solid  #666666;  
	padding: 5px 5px 5px 55px;       
	border-spacing:5px;/*cellspacing:poor IE support for  this*/
	}

.divRow
    {
       display:table-row;
//width:100%;
    }

.divCell
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;

     }
.divCell1
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
overflow: none;
     }

.divCell2
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
	overflow: none;
     }

.divCell3
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
	overflow: none;
     }

.divCell4
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
	overflow: none;
     }

